body{
	font-size: 16px;
}
#header-nav{
	background-color: #808080;
	border-radius: 0;
	border: 2px solid black;
}
.navbar-brand{
	padding-top: 15px;
}

.navbar-brand h1{
    font-family: 'Lora',serif;
    color: black;
    font-size: 1.5em;
    text-transform: uppercase;
    font-weight: bold;
    text-shadow: 1px 1px 1px black;
    margin-top: 0;
    margin-bottom: 0;
    line-height: .75; 
}

.navbar-brand a:hover,.navbar-brand a:focus{
	text-decoration: none;
}

#nav-list{
	margin-top: 20px;
}
#nav-list a{
	color:black;
	text-align: center;
	background: white;
	border:1px solid black;
}
#nav-list a:hover{
	background: lightgray;
}

 button.navbar-toggle .icon-bar{
	border: 1px solid black;
}

 .navbar-header button.navbar-toggle{
	clear: both;
	margin-top: -30px;
}

/************Extra Small Devices only*********/
@media(max-width: 767px){
     .navbar-brand{
     	padding-top: 10px;
     	height: 70px;
     }	
     .navbar-brand h1{
     	padding-top: 10px;
     	font-size: 5vw;
     }
     
    #collapsable-nav a{
	    font-size: 1.2em;
     }

 }


 /**Main Content**/

 #menu-tile{
	height: 450px;
	width: 100%;
	margin-bottom: 15px;
	position: relative;
	border: 2px solid black;
	overflow: hidden;
	background-color: #808080;
}

#menu-tile p{
    color: black;
    line-height: 25px;
    padding: 40px 10px 15px;
}

#menu-tile p a{
	position: absolute;
	bottom: 0;
    right: 0;
	width: 100%;
	text-align: right;
	color: white;
	text-decoration: none;
}

#menu-title{
	font-weight: bold;
	margin-bottom: 40px;
}

#menu-tile span{
	position: absolute;
	top: 0;
	right: 0;
	width: 100%;
	text-align: center;
	font-size: 1.5em;
	background-color: #808080;
	color: black;

}